<h1>Current Categories</h1>

<% @categories.each do |cat| %>
  <%= cat.name %><%= button_to "Delete Category", admin_category_path(cat), method: :delete %><br>
<% end %>
<%= link_to "New Category", new_admin_category_path %>